.about-npl-container{
    padding: 7rem;
    margin: 10px;
}


.About-NLP-heading{
    color: #cf2e2e;;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 900;
}


.about-npl-container {
  padding: 25px;
  margin: 10px;

  .About-NLP-heading {
    color: red;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 800;
  }


  .Mindfulness-Wellbeing {
    color: red;
    font-family: "Roboto";
    font-size: 15px;
    font-weight: 500;
  }

  .ICF-ACC-Accredited-heading {
    font-size: 20px;
    font-weight: bold;
  }

  .paragraph {
    color: rgb(73, 64, 64);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 18px;
    padding: 10px;
  }
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
  }

  .section-3-heading {
    color: #b21f27;
    font-size: 35px;
    font-weight: 500;
  }

  .collpase-button {
    width: 500px;
    height: 50px;
    background-color: rgb(54, 53, 53);
    border: none;
    color: aliceblue;
    border-radius: 30px;
    font-family: "Roboto";
    font-size: 20px;
    font-weight: 500;
    text-align: left;
    padding-left: 20px;
  }

  .card {
    margin-bottom: 20px;
    border: none;
    text-align: left;
    .collapse-text {
      margin: 1rem 0 0 2rem;
      width: 400px;
      font-size: 15px;
    }
  }
}
