<<<<<<< HEAD
.about-npl-container{
    padding: 7rem;
    margin: 10px;
}


.About-NLP-heading{
    color: #cf2e2e;;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 900;
}


=======
@import "../../mixin&var";
>>>>>>> 13c52e3295227a40a67e32d6217d3c3d990e6d93
.about-npl-container {
  padding: 2.5rem;
  margin: 1rem;

  .About-NLP-heading {
    color: red;
    font-family: "Roboto";
    font-weight: 800;
    font-size: 4rem;
    @include md {
      font-size: 2rem;
    }
  }
<<<<<<< HEAD

=======
>>>>>>> 13c52e3295227a40a67e32d6217d3c3d990e6d93

  .Mindfulness-Wellbeing {
    color: red;
    font-family: "Roboto";
    font-size: 3rem;
    font-weight: 500;
    @include md {
      font-size: 1.5rem;
    }
  }

  .ICF-ACC-Accredited-heading {
    font-size: 4rem;
    @include md {
      font-size: 2rem;
    }
    font-weight: bold;
  }

  .paragraph {
    color: rgb(73, 64, 64);
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    font-size: 3.2rem;
    @include md {
      font-size: 1.8rem;
    }
    padding: 1rem;
  }
}

.section3 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-direction: row;
    justify-content: space-around;
  }

  .section-3-heading {
    color: #b21f27;
    font-size: 5.2rem;
    @include md {
      font-size: 3.5rem;
    }
    font-weight: 500;
  }

  .collpase-button {
    width: 100%;
    height: 7rem;
    background-color: rgb(54, 53, 53);
    border: none;
    color: aliceblue;
    border-radius: 3rem;
    font-family: "Roboto";
    font-size: 4rem;
    font-weight: 500;
    text-align: left;
    padding-left: 2rem;
    @include md {
      width: 50rem;
      height: 5rem;
      font-size: 2rem;
    }
  }

  .card {
    margin-bottom: 2rem;
    border: none;
    text-align: left;
    .collapse-text {
      margin: 1rem 0 0 2rem;
      width: 100%;
      font-size: 3rem;
      @include md {
        width: 40rem;
        font-size: 1.5rem;
      }
    }
  }
}
