.counter {
  background-image: url("counter-bg.jpg");
  width: 100vw;
  height: 65vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  color: white;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  h1 {
    font-size: 6.1rem;
  }
  h2 {
    font-size: 4rem;
  }
  .text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
  .numbers {
    margin-top: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10rem;
    div {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;
      .numText {
        font-size: 4rem;
      }
      .letText {
        color: red;
        font-size: 2rem;
        margin-bottom: 1rem;
      }
    }
  }
}
