@import "../../mixin&var";
header {
  background-color: transparent;
  z-index: 999;
  position: absolute;
  top: 0;
  color: white;
  width: 100%;
  .nav {
    max-width: 1200px;
    margin: auto;

    &-top {
      // transition: all ease-in-out 0.3s;
      font-size: 2rem;
      padding-top: 1rem;
      width: 100%;
      @include flexRow(space-between, 1rem);
      &--contact {
        span {
          margin: 0 1rem 0 1rem;
        }
        .icon {
          color: white;
          a svg {
            transition: all ease-in 0.3s;
          }
          &:hover {
            a svg {
              color: blue;
              transform: scale(1.5);
            }
          }
        }
      }
      &--contact {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        .c-item {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          &:hover {
            a,
            svg {
              color: red;
            }
          }
          a {
            margin: 0 1rem 0 1rem;
          }
        }
      }
    }

    &-bottom {
      width: 100%;
      margin-top: 1rem;
      @include flexRow(space-between, 1rem);

      .logo {
        img {
          width: 20rem;
        }
      }

      .items {
        @include flexRow(space-between, 2.5rem);
        font-size: 2rem;
        .link {
          position: relative;
          text-transform: capitalize;
          border: none;
          &-item {
            border: none;
            padding-bottom: 3.5rem;
            transition: all ease-in-out 0.3s;
            &:hover {
              font-size: 2.2rem;
              color: red;
            }
            &:hover + .link-dropdown {
              transform: scaleY(1);
            }
          }
          &-dropdown {
            transform-origin: 0 0;
            background-color: #8b1515;
            transform: scaleY(1);
            position: absolute;
            transform: scaleY(0);
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;
            font-size: 1.5rem;
            font-weight: 500;
            top: calc(100% + 3.5rem);
            left: 0;
            width: 21rem;
            transition: all ease-in-out 0.3s;
            &:hover {
              transform: scaleY(1);
            }
            &-item {
              transition: all ease-in-out 0.3s;

              padding: 1rem;
              &:hover {
                color: red;
                font-size: 1.6rem;
              }
            }
          }
        }
      }
    }
  }
}

.header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: white;
  border-bottom: 2px solid rgb(173, 24, 24);
  z-index: 1000;

  .nav-top {
    transform: translateY(-100%);
    display: none;
    transition: transform ease-in-out 1s, display ease-out 0.31;
  }
  a {
    color: black;
  }
}
