.sidebar {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: lightgrey;
  color: black;

  .sideNav {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: lightgrey;
    width: 40rem;
    height: 100%;
    &-links {
      font-size: 3.8rem;
      position: absolute;
      text-transform: capitalize;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 2rem;

      .link a {
        color: rgba(0, 0, 0, 0.699);
        transition: all ease-in-out 0.3s;
        &:active {
          translate: 10px;
          color: black;
          font-size: 3rem;
        }
      }
    }
  }

  .toggleBtn {
    width: 5rem;
    height: 5rem;
    position: fixed;
    top: 2.5rem;
    right: 2.5rem;
    background-color: transparent;
    border: none;
    border-radius: 50%;
  }
}

.link-dropdown {
  display: none;
}
.active {
  color: red;
}
