@import "./mixin&var";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {

  font-size: 5px;
  height: 500vh;
  @include ssm {
    font-size: 6px;
  }
  @include sm {
    font-size: 7px;
  }
  @include md {
    font-size: 8px;
  }
  @include lg {
    font-size: 9px;
  }
  @include xl {
    font-size: 10px;
  }
  @include xxl {
    font-size: 12px;
  }
}

a {
  text-decoration: none;
  color: white;
  &:hover {
    color: black;
  }
}
